################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/XOR-Encryption/.vs/XOR-Encryption
